* {
    box-sizing: border-box;
    font-family: roboto, Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 16px;
}

.logo {
    font-size: 24px;
}

.header-links {
    display: flex;
    gap: 16px;
}

.header-links > a {
    text-decoration: none;
    color: #e5e7eb;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 32px;
}

.signup-text {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    text-align: left;
    color: #f9faf8;
    padding: 0;
    margin: 0;
}

.signup-text > h1 {
    font-size: 48px;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

.signup-text > p {
    font-size: 18px;
    color: #e5e7eb;
    padding: 8px 0;
    margin: 0;
}

.signup-image {
    padding: 100px 100px;
    margin: 32px 0 32px 32px;
    background-color: gray;
    flex-shrink: 0;
}

.signup-text > div > button {
    background-color: #3882f6;
    padding: 8px 24px;
    color: #f9faf8;
    border-radius: 8px;
    font-size: 18px;
    border: none;
}

.random-info > h2 {
    font-size: 36px;
    font-weight: 900;
}

.subtext-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 50px;
}

.subtext {
    width: 200px;
    font-size: 18px;
}

.sub-img {
    border: 2px solid #3882f6;
    width: 150px;
    height: 150px;
    border-radius: 8px;
    margin: 0 25px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px 0;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
    text-align: left;
    width: 700px;
    margin-bottom: 12px;
}

.quote-author {
    width: 700px;
    text-align: right;  
    font-weight: 800; 
    font-size: 18px; 
}