* {
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url(assets/fonts/roboto-regular-webfont.woff2) format('woff2'),
         url(assets/fonts/roboto-regular-webfont.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    src: url(assets/fonts/roboto-light-webfont.woff2) format('woff2'),
         url(assets/fonts/roboto-light-webfont.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 800;
    src: url(assets/fonts/roboto-bold-webfont.woff2) format('woff2'),
         url(assets/fonts/roboto-bold-webfont.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: italic;
    src: url(assets/fonts/roboto-lightitalic-webfont.woff2) format('woff2'),
         url(assets/fonts/roboto-lightitalic-webfont.woff) format('woff');
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 16px 75px;
}

.logo {
    font-size: 24px;
}

.header-links {
    display: flex;
    gap: 16px;
}

.header-links a {
    text-decoration: none;
    color: #e5e7eb;
}

.header-links a:hover {
    text-decoration: underline;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 32px;
}

.signup-text {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    text-align: left;
    color: #f9faf8;
    padding: 0;
    margin: 0;
}

.signup-text > h1 {
    font-size: 48px;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

.signup-text > p {
    font-size: 18px;
    color: #e5e7eb;
    padding: 8px 0;
    margin: 0;
}

.signup-image {
    padding: 100px 100px;
    margin: 32px 0 32px 32px;
    background-color: gray;
    flex-shrink: 0;
    color: #e5e7eb;
}

.signup-text > div > button {
    background-color: #3882f6;
    padding: 8px 24px;
    color: #f9faf8;
    border-radius: 8px;
    font-size: 18px;
    border: none;
}

.random-info > h2 {
    font-size: 36px;
    font-weight: 900;
}

.subtext-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 50px;
}

.subtext {
    width: 200px;
    font-size: 18px;
}

.sub-img {
    border: 2px solid #3882f6;
    width: 150px;
    height: 150px;
    border-radius: 8px;
    margin: 0 25px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px 0;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    text-align: left;
    width: 750px;
    margin-bottom: 12px;
}

.quote-author {
    width: 750px;
    text-align: right;  
    font-weight: 800; 
    font-size: 18px; 
}

.action {
    display: flex;
    justify-content: space-between;
    margin: 24px auto;
    background-color: #3882f6;
    color: #f9faf8;
    width: 900px;
}

.action-left {
    text-align: left;
    margin: 32px 75px;
}

.action-left h3 {
    margin: 0 0 8px 0;
}

.action-left p {
    margin: 0;
}

.action-right {
    display: flex;
    align-items: center;
}

.action div button {
    padding: 8px 24px;
    color: #f9faf8;
    border: 2px solid #f9faf8;
    border-radius: 8px;
    font-size: 18px;
    background-color: #3882f6;
    margin: 0 75px;
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 16px;
}